*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/*INICIO*/

    
body{
   font-family: 'Patrick Hand SC', cursive; 
   background-color: #C4D7B2;
}
header{
    background-color:#A0C49D;
}
p{
    font-size: 1rem;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius:30%;
}
.carrousel img{
    height: 450px;
}

.container{
    display: grid;
    grid-template-areas: 
    "catalogo catalogo publicidad"
    "catalogo catalogo publicidad";
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    

}
.catalogo{
    grid-area: catalogo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 5px;
    margin: 10px auto;
    
    
}
.perfume{
    width: 200px;
    text-align: center;

}
.perfume img{
    width: 100px auto;
    height: 100px auto;

}
.publicidad{
    grid-area: publicidad;
    

}
.publicidad img{
    width: 500px;
    height:690px;
   
}
.video{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    
}
.contenedor{
   display: grid;
   grid-template-areas: 
   "publicidadch catalogoch catalogoch"
   "publicidadch catalogoch catalogoch";
   grid-template-columns: 2fr 1fr 1fr;
   justify-content: center;
   align-items: center;
   column-gap: 10px;
   margin: 20px auto;
  
}
.catalogoch{
   grid-area: catalogoch;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr ;
   justify-content: center;
   align-items: center;
   column-gap: 10px;
   row-gap: 10px;
   margin: 10px auto;  
   margin-right: 120px;

}
.publicidadch{
   grid-area: publicidadch;
   display: grid;
   justify-content: center;
   align-items: center;
   margin-left: 120px;
   
   
   
}
.publicidadch img{
    width: 630px;
    height: 690px;

}

/*FIN INICIO*/
/*ESTILOS PAGINA MUJERES*/

h2{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.catalogo-flex{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: space-around;  

}

.imagen img{

    width: 200px;
    height: 200px;
}
.imagen{
 background-color: #F7FFE5;
 text-align: center;

}


/*FIN ESTILO PAGINA MUJERES*/
/*FOOTER*/
footer{
    background-color: #A0C49D;

}
.flex-conteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item{
    margin: 20px auto;
   text-align: center;
}
.item h1{
   font-size: 2rem;
   text-align: center;
   font-weight: bold;

} /*titulos footer*/
.item img{
    width: 30px;
    height: 30px;
}/*Logos footer*/
.mapa{
    text-align: center;
}
.mapa img{
    padding-bottom: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.form{
    text-align: center;
}

/*FIN FOOTER*/

@media screen and (max-width: 480px) {
.carrousel img{
    height: 200px;
    width: 541px;
}
   
h1{
    font-size: 5px;
}  
.container{
    grid-template-columns:1fr;
    grid-template-rows: repeat(3)1fr;
    grid-template-areas: 
    "catalogo"
    "catalogo"
    "publicidad";
}

.publicidad img{
    width: 480px;
    height:400px;  
}

.contenedor{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "catalogoch"
    "catalogoch"
    "publicidadch"; 
    
}
.catalogoch{
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    
}
.publicidadch{
    justify-content: center;
    align-items: center;  
    margin: 5px auto;
}
.publicidadch img{
    width: 480px;
    height: 400px;
}

.video{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.item{
    flex-wrap:wrap;
    text-align:center;
}
.item h1{
    font-size: 1rem;
    
}
.item img{
    width: 20px;
    height: 20px;
}
.catalogo-flex{
    flex-wrap: wrap;
}
.imagen{
    margin-top: 10px;
}
.mapa img{
    width: 100%;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
}















