* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Patrick Hand SC", cursive;
  background-color: #DDE6ED;
  max-width: 100%;
}

header {
  background-color: #27374D;
}
header .container-fluid {
  width: 100%;
  height: 70px;
}
header .container-fluid .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header .container-fluid .menu .lista li a {
  font-size: 1.2rem;
}
header .container-fluid .menu .lista li .submenu li a:hover {
  background-color: #27374D;
  color: white;
  border-radius: 5%;
}
header .container-fluid .iconos img:hover {
  transform: scale(1.5, 1.5);
}

.carrousel {
  width: 100%;
}
.carrousel img {
  height: 60vh;
}

.publiDior-fluid, .publiCh-fluid {
  background-color: #526D82;
  text-align: center;
  width: 100%;
}
.publiDior-fluid img, .publiCh-fluid img {
  padding: 20px;
  width: 95%;
}

.catDior, .catCh {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px auto;
  width: 100%;
}
.catDior .perfume, .catCh .perfume {
  width: 15%;
  height: 57%;
  text-align: center;
  margin: 20px auto;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.catDior .perfume img, .catCh .perfume img {
  width: 100%;
  height: 30vh;
}
.catDior .perfume:hover, .catCh .perfume:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.catDior .perfume .contenido, .catCh .perfume .contenido {
  padding: 15px;
  text-align: center;
}
.catDior .perfume .contenido h5, .catCh .perfume .contenido h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.catDior .perfume .contenido a, .catCh .perfume .contenido a {
  text-decoration: none;
  display: inline-block;
  color: #526D82;
  border: 1px solid #526D82;
  border-radius: 4px;
  transition: all 400ms ease;
}
.catDior .perfume .contenido a:hover, .catCh .perfume .contenido a:hover {
  background-color: #526D82;
  color: #fff;
}

.vidDior, .vidCh {
  background-color: #526D82;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.vidDior iframe, .vidCh iframe {
  width: 90%;
  height: 40vh;
}

.oscuro, .claro {
  background-image: linear-gradient(to top, #27374D, #526D82, #DDE6ED);
  color: black;
}
.oscuro h2, .claro h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.oscuro .perfumesFem, .claro .perfumesFem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}
.oscuro .perfumesFem .imagen, .claro .perfumesFem .imagen {
  background-color: #F7FFE5;
  text-align: center;
  width: 14vw;
  height: 55vh;
  margin: 10px auto;
}
.oscuro .perfumesFem .imagen img, .claro .perfumesFem .imagen img {
  width: 90%;
  height: 50%;
  margin: 5px auto;
}
.oscuro .perfumesFem .imagen .letra h5, .claro .perfumesFem .imagen .letra h5 {
  font-size: 1.2rem;
}

.claro {
  background-image: linear-gradient(to bottom, #27374D, #526D82, #DDE6ED);
  color: white;
}

.catlabios {
  background-image: linear-gradient(to bottom, #DDE6ED, #526D82, #27374D);
  color: white;
}
.catlabios h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.catlabios .catLabios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}
.catlabios .catLabios .labios {
  background-color: #F7FFE5;
  text-align: center;
  width: 14vw;
  height: 55vh;
  margin: 10px auto;
}
.catlabios .catLabios .labios img {
  width: 90%;
  height: 50%;
  margin: 5px auto;
}

footer .footer-fluid {
  background-color: #27374D;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  width: 100%;
}
footer .footer-fluid .item {
  width: 25vw;
  text-align: center;
  color: white;
  padding: 20px;
}
footer .footer-fluid .item h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
footer .footer-fluid .item img:hover {
  transform: scale(1.5, 1.5);
}
footer .footer-fluid .item p {
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-areas: "contacto formulario";
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 10px auto;
  border: 3px solid #27374D;
  width: 60%;
}
.form .contacto {
  grid-area: contacto;
  background-color: #526D82;
}
.form .contacto h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.form .contacto p {
  font-size: 1.5rem;
  text-align: justify;
  padding: 10px 20px 10px 20px;
  text-align: justify;
}
.form .formulario {
  grid-area: formulario;
  padding: 10px;
}

.pickup h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.pickup p {
  text-align: center;
}
.pickup .contenedor-mapa {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #526D82;
  margin: 10px auto;
  height: 400px;
}
.pickup .contenedor-mapa .mapa {
  width: 60%;
}
.pickup .contenedor-mapa .mapa img {
  text-align: center;
  padding: 10px;
  width: 90%;
  height: 100%;
  border-radius: 30px;
}
.pickup .contenedor-mapa .busqueda {
  width: 40%;
}
.pickup .contenedor-mapa .busqueda form {
  padding: 10px;
  width: 90%;
}
.pickup .contenedor-mapa .busqueda .sucursales {
  background-color: #DDE6ED;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  height: 40%;
}

.lista {
  padding: 30px;
}
.lista h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.lista .texto {
  text-align: justify;
}
.lista .texto h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.lista .texto p {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  header .container-fluid {
    width: 100%;
    height: auto;
  }
  .catDior .perfume, .catCh .perfume {
    width: 20%;
    height: 35%;
  }
  .catDior .perfume img, .catCh .perfume img {
    width: 90%;
    height: 150px;
  }
  .catCh .perfume {
    width: 20%;
    height: 35%;
  }
  .catCh .perfume img {
    width: 90%;
    height: 150px;
  }
  .vidDior, .vidCh {
    width: 100%;
  }
  .vidDior iframe, .vidCh iframe {
    width: 100%;
    margin: 5px;
  }
  .vidCh {
    width: 100%;
  }
  .vidCh iframe {
    width: 100%;
    margin: 5px;
  }
  footer .footer-fluid .item {
    padding: 6px;
    margin: 0px 5px 0px 5px;
  }
  footer .footer-fluid .item h1 {
    font-size: 1rem;
  }
  footer .footer-fluid .item img:hover {
    transform: scale(1.3, 1.3);
  }
  footer .footer-fluid .item p {
    font-size: 1rem;
  }
  /*INICIO*/
  /*FEMENINA Y MASCULINA*/
  .perfumesFem {
    flex-wrap: wrap;
  }
  .imagen {
    margin: 2px auto;
    width: 16vw;
  }
  .imagen img {
    height: 40%;
  }
  .imagen h5 {
    font-size: 1rem;
  }
  .claro h2 {
    font-size: 1.5rem;
  }
  .claro .perfumesFem {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
  }
  .claro .perfumesFem .imagen {
    margin: 10px;
    width: 25%;
    height: 30%;
  }
  .claro .perfumesFem .imagen img {
    height: 150px;
  }
  .oscuro h2, .claro h2 {
    font-size: 1.5rem;
  }
  .oscuro .perfumesFem, .claro .perfumesFem {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
  }
  .oscuro .perfumesFem .imagen, .claro .perfumesFem .imagen {
    margin: 10px;
    width: 25%;
    height: 30%;
  }
  .oscuro .perfumesFem .imagen img, .claro .perfumesFem .imagen img {
    height: 150px;
  }
  /*FEMENINA Y MASCULINA*/
  /*MAQUILLAJE*/
  /*LABIOS, OJOS, ROSTRO*/
  .catlabios h2 {
    font-size: 1.5rem;
  }
  .catlabios .catLabios {
    justify-items: center;
  }
  .catlabios .catLabios .labios {
    width: 20%;
    height: 62vh;
    text-align: center;
  }
  /*LABIOS, OJOS, ROSTRO*/
  /*CONTACTO*/
  .form {
    width: 80%;
  }
  /*CONTACTO*/
  .pickup .contenedor-mapa {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .pickup .contenedor-mapa .mapa {
    width: 100%;
  }
  .pickup .contenedor-mapa .mapa img {
    width: 90%;
  }
  .pickup .contenedor-mapa .busqueda {
    width: 100%;
    margin: 10px 36px 10px 36px;
  }
  .pickup .contenedor-mapa .busqueda .sucursales {
    width: 90%;
    height: 200px;
  }
}
@media screen and (max-width: 480px) {
  header .container-fluid {
    width: 100%;
    height: auto;
  }
  .carrousel img {
    height: 40vh;
  }
  .catDior, .catCh {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .catDior .perfume, .catCh .perfume {
    margin: 10px;
    width: 36%;
    height: 54%;
  }
  .catDior .perfume img, .catCh .perfume img {
    width: 90%;
    height: 130px;
    margin: 5px auto;
  }
  .catCh {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .catCh .perfume {
    margin: 10px;
    width: 36%;
    height: 54%;
  }
  .catCh .perfume img {
    width: 90%;
    height: 130px;
    margin: 5px auto;
  }
  .publiDior-fluid img, .publiCh-fluid img {
    height: 190px;
  }
  .publiCh-fluid img {
    height: 190px;
  }
  .vidDior, .vidCh {
    padding: 10px;
    text-align: center;
  }
  .vidDior iframe, .vidCh iframe {
    width: 90vw;
    height: 40vh;
  }
  .vidCh {
    padding: 10px;
    text-align: center;
  }
  .vidCh iframe {
    width: 90vw;
    height: 40vh;
  }
  footer .footer-fluid {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer .footer-fluid .item {
    margin: 5px 10px 5px 10px;
    width: 40%;
  }
  /*INICIO*/
  /*FEMENINA Y MASCULINA*/
  .claro .perfumesFem {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .claro .perfumesFem .imagen {
    margin: 10px;
    width: 45%;
    height: 54%;
  }
  .claro .perfumesFem .imagen img {
    width: 90%;
    height: 150px;
    margin: 10px auto;
  }
  .oscuro .perfumesFem, .claro .perfumesFem {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .oscuro .perfumesFem .imagen, .claro .perfumesFem .imagen {
    margin: 10px;
    width: 45%;
    height: 54%;
  }
  .oscuro .perfumesFem .imagen img, .claro .perfumesFem .imagen img {
    width: 90%;
    height: 150px;
    margin: 10px auto;
  }
  /*FEMENINA Y MASCULINA*/
  /*MAQUILLAJE*/
  .catlabios h2 {
    font-size: 1.5rem;
  }
  .catlabios .catLabios {
    flex-wrap: wrap;
  }
  .catlabios .catLabios .labios {
    width: 40vw;
    height: 67vh;
    margin: 10px auto;
  }
  .catlabios .catLabios .labios img {
    width: 90%;
    height: 50%;
    margin: 5px auto;
  }
  /*MAQUILLAJE*/
  /*PAGO*/
  .pago h2 {
    font-size: 1.5rem;
  }
  /*PAGO*/
  /*ENVIOS*/
  .envios h2 {
    font-size: 1.5rem;
  }
  /*CONTACTO*/
  .form {
    display: grid;
    grid-template-areas: "contacto" "formulario";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
  }
  .pickup {
    width: 100%;
  }
  .pickup .contenedor-mapa {
    flex-direction: column;
    justify-items: center;
    width: 100%;
    height: auto;
  }
  .pickup .contenedor-mapa .mapa {
    width: 100%;
  }
  .pickup .contenedor-mapa .mapa img {
    width: 90%;
  }
  .pickup .contenedor-mapa .busqueda {
    width: 100%;
    margin: 5px 25px 5px 25px;
  }
  .pickup .contenedor-mapa .busqueda form {
    width: 90%;
  }
  .pickup .contenedor-mapa .busqueda .sucursales {
    width: 90%;
    height: 200px;
  }
}/*# sourceMappingURL=estilo.css.map */